<div>
  <ul class="ep-sidenav-list">
    <li>
      <a routerLink="/home">
        <i class="mdi mdi-home-outline mdi-24px"></i>
        <span>{{appStrings.home}}</span>
        <em>{{appStrings.homeDesc}}</em>
      </a>
    </li>
    <li>
      <a routerLink="/service-job-search">
        <i class="mdi mdi-wrench mdi-24px"></i>
        <span>{{appStrings.serviceJobs}}</span>
        <em>{{appStrings.serviceJobsDesc}}</em>
      </a>
    </li>
    <li>
      <a routerLink="/project-search">
        <i class="mdi mdi-briefcase mdi-24px"></i>
        <span>Projects</span>
        <em>Projects Search Page</em>
      </a>
    </li>
    <li>
      <a routerLink="/geolocation-map">
        <i class="mdi mdi-google-maps mdi-24px"></i>
        <span>Map</span>
        <em>Map</em>
      </a>
    </li>
    <li>
      <a routerLink="/cordova-geolocation-map">
        <i class="mdi mdi-google-maps mdi-24px"></i>
        <span>Cordova Plugin Map</span>
        <em>Cordova Plugin Map</em>
      </a>
    </li>
    <li>
      <a routerLink="/feature-detection">
        <i class="mdi mdi-information-outline mdi-24px"></i>
        <span>Phone Features</span>
        <em>Phone Features</em>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="mdi mdi-information-outline mdi-24px"></i>
        <span>{{appStrings.about}}</span>
        <em>{{appStrings.aboutDesc}}</em>
      </a>
    </li>
  </ul>
</div>