<ep-view [model]="viewModel">
  <h3>Service Jobs </h3>

  <ep-grid #grid [model]="gridModel"></ep-grid>

  <ng-template #customCellTemplate let-dataItem="dataItem">
    <a [routerLink]="['/service-job-detail', dataItem.JobNum]">
        {{dataItem.JobNum}}
    </a>  
  </ng-template>


</ep-view>