<ep-view [model]="viewModel">
  <div class="row ep-margin-top-20 ep-margin-bottom-10">
    <div class="col-sm-12">
      <ep-search-box [model]="searchModel"></ep-search-box>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let item of listData" class="list-group-item" (click)="viewItemDetail(item)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.JobNum}}</h5>
        <small>{{item.ReqDueDate}}</small>
      </div>
      <p class="mb-1">{{item.PartNum}}</p>
      <small>{{item.PartDescription}}</small>
    </li>
  </ul>
</ep-view>
