<ep-view [model]="viewModel">
  <div [hidden]="!isMobile">
    <p>
      <ep-button [primary]="true" [size]="EpButtonSize.Small" (click)="startTracking()">Start Tracking</ep-button>
      <ep-button [primary]="false" [size]="EpButtonSize.Small" (click)="stopTracking()">Stop Tracking</ep-button>
      <!-- <ep-button [primary]="true" [size]="EpButtonSize.Small" (click)="addGeofence()">Add Geofence</ep-button>
          <ep-button [primary]="false" [size]="EpButtonSize.Small" (click)="removeGeofence()">Remove Geofence</ep-button> -->
    </p>
    <div id="map_canvas" style="width: 300px; height: 400px;"></div>
  </div>

  <div [hidden]="isMobile">
    <h3>This component is for mobile applications ONLY.</h3>
    <p>To use this component, the application must be running on a mobile device inside a Cordova wrapper.</p>
  </div>
</ep-view>