<ep-view [model]="viewModel">
  <h2>Project Details</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0">
      <ep-text-box labelText="Project Id" [(ngModel)]="projectModel.ProjectID" disabled></ep-text-box>
    </li>
    <li class="list-group-item border-0">
      <!-- <ep-text-box labelText="Description" [(ngModel)]="projectModel.Description"></ep-text-box> -->
      <label>Description</label>
      <ep-text-area maxLength="1000" rows="3" cols="50" [(ngModel)]="projectModel.Description"></ep-text-area>
    </li>
    <li class="list-group-item border-0">
      <ep-date-input labelText="Start Date" [(ngModel)]="projectModel.StartDate"></ep-date-input>
    </li>
  </ul>
  <ep-button (onclick)="save()" [primary]="true" class="ep-btn-block" [size]="EpButtonSize.Small">Save</ep-button>
  <ep-button (onclick)="cancel()" [primary]="false" class="ep-btn-block" [size]="EpButtonSize.Small">Cancel</ep-button>
  <ep-button (onclick)="delete()" [primary]="false" class="ep-btn-block btn-danger" [size]="EpButtonSize.Small">Delete</ep-button>
</ep-view>
