<ep-view [model]="viewModel">
  <div class="container">
    <form>
      <div class="form-group">
        <label>Features:</label>
        <textarea class="form-control alert-info ep-feature-detection-textarea" rows="25"
          disabled>{{deviceData | json}}</textarea>
      </div>
    </form>
  </div>
</ep-view>