<ep-view [model]="viewModel">
  <h2>Job Details</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0">
      <ep-text-box labelText="Job Num" [(ngModel)]="jobModel.JobNum"></ep-text-box>
    </li>
    <li class="list-group-item border-0">
      <ep-text-box labelText="Part Num" [(ngModel)]="jobModel.PartNum"></ep-text-box>
    </li>
    <li class="list-group-item border-0">
      <ep-date-input labelText="Start Date" [(ngModel)]="jobModel.StartDate"></ep-date-input>
    </li>
    <li class="list-group-item border-0">
      <ep-date-input labelText="Due Date" *ngIf="jobModel.DueDate" [(ngModel)]="jobModel.DueDate"></ep-date-input>
    </li>
    <li class="list-group-item border-0">
      <ep-check-box [(ngModel)]="jobModel.JobClosed" labelText="Job Closed?"></ep-check-box>
    </li>
    <li class="list-group-item border-0">
      <ep-text-box labelText="Job Geolocation" [(ngModel)]="jobModel.UserChar1"></ep-text-box>
    </li>
    <li class="list-group-item border-0">
      <ep-signature [(model)]="signOptions"></ep-signature>
      <div class="ep-pad-top-20 ep-pad-bottom-20" *ngIf="signOptions.value">
        <p>Result:</p>
        <img width="200px" height="100" [src]="signOptions.value">
        <br>
      </div>
    </li>
  </ul>
  <h2>Job Operations</h2>
  <ul class="list-group list-group-flush">
    <li *ngFor="let item of jobOperationModel" class="list-group-item">
      <div>
        <h2>{{item.JobNum}}</h2>
        <h2>{{item.PartNum}}</h2>
        <ep-check-box id="jobComplete" name="jobComplete" [(ngModel)]="item.JobComplete" labelText="Job Complete?">
        </ep-check-box>
      </div>
    </li>
  </ul>
  <div [hidden]="!isMobile">
    <h2>Map</h2>
    <p>Current location: {{currentLocation}}</p>
    <div id="map_canvas" style="width: 300px; height: 400px;"></div>
  </div>
  <ep-button *ngIf="!jobModel.JobClosed" (onclick)="saveJobDetail()" [primary]="true" class="ep-btn-block"
    [size]="EpButtonSize.Small">Save Job Detail</ep-button>
  <ep-button (onclick)="saveJobOperations()" [primary]="false" class="ep-btn-block" [size]="EpButtonSize.Small">Save Job
    Operations</ep-button>
</ep-view>